html {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	max-width: 75%;
	margin: 0 auto;
}

#container {
	margin-top: 2em;
	padding: 20px 24px;
	border-radius: 15px;
}

.container {
	background: #f4f7f8;
}

input[type="text"], button#clear-all {
	color: #2E3030;
	font-weight: 300; 
	border: none;
	height: auto;
	padding: 15px;
	outline: 0;
	margin-bottom: 1.2em;
	border-radius: .3em;
	border-bottom: 3px solid rgba(0,0,0, 0.05);
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

input[type="text"] {
	font-size: 1em;
	width: 50%;
	background-color: #e8eeef;
}

button#clear-all {
	width: 20%;
	font-size: .9em;
	background-color: #52bab3;
}

button#clear-all:disabled {
	color: #2E3030;
}

button.edit-message, button.clear-message {
	color: #2E3030;
	font-weight: 300; 
	border: none;
	height: auto;
	padding: 5px;
	outline: 0;
	margin-bottom: .7em;
	margin-right: .3em;
	border-radius: .3em;
	border-bottom: 3px solid rgba(0,0,0, 0.05);
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

button#clear-all:hover, 
button#clear-all:active, 
button.clear-message:hover, 
button.clear-message:active {
	background-color: #FF5050;
}

button.edit-message:hover,
button.edit-message:active {
	background-color: #52bab3;
}

/*********** HEADER STYLING **************/
header > h1 {
	display: inline-block;
	margin-right: 3em;
	margin-top: 10px;
}

#input-form {
	display: inline-block;
}

#checkboxes, #names {
	margin: 0 0 1em 12em;
}

input[type="radio"]:nth-child(n+2) {
	margin: 0 5px 0 15px;
}



#message-board {
	border: 2px solid black;
	min-height: 300px;
	padding: 1em;
}



/************ DYNAMIC ELEMENTS STYLING ***********/
.text {
	display: inline-block;
	margin: 1em 1em 0 1em;
}

.hide {
	display: none;
}

.dark-theme {
	background: #7A7A7A;
}

.dark-theme, .dark-container {
	color: #F1F1F1;
}

.dark-container {
	background: #A2A2A2;
}

.large-text {
	font-size: 23px;
}

.disappear {
	visibility: hidden;
}